@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="./images/WindowsXP.jpg" alt="windowsxp" class="image-fullsize"/>

<div class="index-sign-link">
    <a class="signin" asp-controller="Home" asp-action="SignIn">SignIn</a>
    <a class="signup" asp-controller="Home" asp-action="SignUp">SignUp</a>
</div>