<div>SignIn Page</div>

<div class="signin-wrapper" >
  <label>メールアドレス</label>
  <input type="text" class="sign-child" id="email" name="email" placeholder="Enter EmailAdress">

  <label>パスワード</label>
  <input type="password" class="sign-child" placeholder="Enter Password"> 
</div>