<div>
  Profile
</div>
<div class="top-wrapper">
  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">ICON</a>
  <input placeholder="First Name" class="top-fristname"></input>
  <input placeholder="Last Name" class="top-lastname"></input>
  <input placeholder="ID" class="top-id"></input>
</div>